#banner {
    width:100%;
    overflow: hidden;
}
#banner .intro {
    background: url('../img/common/banner_001.jpg') no-repeat center;
    height:93px;
}

/* 链接列表 */
.link-list a {display:block; -webkit-transition:color 300ms; transition:color 300ms;}
.link-list a span {float:left; margin-right:15px;}
.link-list p {}
/* 日期块 */
.date-block {float:left; padding:0 10px; width:68px; height:88px; font:bold 14px/15px 'novecento' !important; color:#444; background-color:#e1e1e1;}
.date-block .day {display:block; margin:10px 0 3px 0; font:bold 36px/36px 'novecento' !important; color:#e62b1e;}
/* 链接块 */
/*.link-block {border-top:1px dotted #ccc;}*/
.link-block a {display:block; padding:24px 24px 24px 0; height:90px; border-bottom:2px solid #e8e6e6; -webkit-transition:background-color 400ms; transition:background-color 400ms;}
.link-block a:hover {background-color:#e1e1e1;}
.link-block a:last-child {border-bottom:0 none;}
.link-block a .summary {float:left; margin-left:18px; width:640px; height:100%; line-height:18px; color:#746969;}
.link-block a h1 {margin-bottom:8px; line-height:26px;}
.link-block a h3 {margin:-4px 0; color:#746969;}
.link-block a p {margin-top:8px; height:36px; line-height:18px; color:#746969; overflow:hidden;}