#banner {
    width:100%;
    overflow: hidden;
}
#banner .intro {
    height:93px;
    background: url('../img/common/banner_001.jpg') no-repeat center;
}
/* 日期块 */
#left .date-block {
    float:left;
    padding:0 10px;
    width:68px;
    height:88px;
    font:bold 14px/15px 'novecento' !important;
    color:#444;
    background-color:#e1e1e1;
}
#left .date-block .day {
    display:block;
    margin:10px 0 3px 0;
    font:bold 36px/36px 'novecento' !important;
    color:#e62b1e;
}

#post {
    width:688px;
    float:left;
    padding-left:18px;
}

#post h1 {font-weight:bold; font-size:18px; line-height:18px; color:#474545;}
#post h3 {margin:14px 0 25px 0;}
#post p {margin-bottom:15px; color:#746969;}

